extends ../layouts/common.pug 

block content

  h1 Create New Books

  form(action="/books/create", method="POST")
    label(for="title") Book
    input(name="title" type="text" id="title")
    br
    label(for="title") Description
    textarea(name="description", cols="30", rows="10")
    br
    button Create