doctype html
html
  head 
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    style.
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }
      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }
      tr:nth-child(even) {
      background-color: #dddddd;
      }

  body

    h2 Books

    a(href="books/create") Add Book
    table
      tr
        th Id
        th Title
        th Description
        th
      each book in books
        tr
          td #{ book.id }
          td #{ book.title }
          td #{ book.description }
          td 
            a(href="#") Sửa
            span &nbsp 
            a(href="/books/" + book.id + "/delete") Xóa