doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

h1 Create New Books

form(action="/users/create", method="POST")
  label(for="name" ) Tên 
  br
  input(type="text" id="name" name="name")  
  br
  label(for="adress") Địa chỉ
  br
  input(type="text" id="adress" name="address") 
  br
  label(for="phone") Số điện thoại
  br
  input(type="text" id="phone" name="phone")
  br
  button Create