extends ../layouts/common.pug 

block content
  
  h1 Create New Books

  if errors
    each error in errors 
      .alert.alert-danger= error

  form(action="/users/create", method="POST")
    label(for="name" ) Tên 
    br
    input(type="text" id="name" name="name", value=values ? values.name : '')  
    br
    label(for="adress") Địa chỉ
    br
    input(type="text" id="adress" name="address", value=values ? values.address : '' ) 
    br
    label(for="phone") Số điện thoại
    br
    input(type="text" id="phone" name="phone",value=values ? values.phone : '')
    br
    button Create