extends ../layouts/common.pug

block content
  body

    h2 users

    a(href="/users/create") Add user
    table
      tr
        th Avatar
        th Name
        th Address
        th Phone
        th
      each user in users
        tr
          td 
            img(src=user.avatar, width="64" style="border-radius: 32px;")
          td #{ user.name }
          td #{ user.address }
          td #{ user.phone }
          td 
            a(href="/users/" + user.id + "/update") Sửa
            span &nbsp 
            a(href="/users/" + user.id + "/delete") Xóa