doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

h2 Transaction

form(action="/transactions/create",method="POST")
  label Book Title:
    br
    select(name="bookId")
      each book in books
        option(value=book.id)= book.title
    br
    lable User name:
    br
    select(name="userId")
      each user in users
        option(value=user.id)= user.name
    br
    lable So Luong:
    br
    input(type="text" name="soluong")
    input(type="hidden" name="isComplete" value=0)
    br
    
    br
  

    button create
