extends ../layouts/common.pug 

block content
  h2 Transaction

  form(action="/transactions/create",method="POST")
    label Book Title:
      br
      select(name="bookId")
        each book in books
          option(value=book.id)= book.title
      br
      lable User name:
      br
      select(name="userId")
        each user in users
          option(value=user.id)= user.name
      br
      lable So Luong:
      br
      input(type="text" name="soluong")
      input(type="hidden" name="isComplete" value=0)
      br
      
      br
    

      button.btn.btn-success create
