extends ../layouts/common.pug 

block content

  body

    h2 Transactions

    a(href="transactions/create") Add Transaction
    table
      tr
        th Id
        th Book Title
        th User Name
        th So Luong
        th Status
        th
      each transaction in transactions
        tr
          td #{ transaction.id }
          td #{ transaction.bookTitle }
          td #{ transaction.userName }
          td #{ transaction.soluong }

        
          if transaction.isComplete === 1
            td Đã Trả
          else
            td Chưa Trả

          td 
            a(href="/transactions/" + transaction.id + "/update") Sửa
            span &nbsp 
            a(href="/transactions/" + transaction.id + "/delete") Xóa
            span &nbsp 
            a(href="/transactions/" + transaction.id + "/complete") Cập nhật